/* ---
section: Spacing Utils
title: Introduction
order: -10
---

[![NPM version][npm-image]][npm-url]
[![Dependency Status][daviddm-image]][daviddm-url]

A collection of dynamically generated spacing utility classes.

Class names follow the [Emmet](http://docs.emmet.io/cheat-sheet/) abbreviation
syntax, with colons (':') replaced by two dashes (`--`) to follow BEM naming
conventions.

#### Available classes

  - `.u-m--<amount>`: margin
  - `.u-mt--<amount>`: margin top
  - `.u-me--<amount>`: margin end (right in `LTR`, left in `RTL`)
  - `.u-mb--<amount>`: margin bottom
  - `.u-ms--<amount>`: margin start (left in `LTR`, right in `RTL`)
  - `.u-mh--<amount>`: horizontal margins (left and right)
  - `.u-mv--<amount>`: vertical margins (top and bottom)
  - `.u-mr--<amount>`: margin right
  - `.u-ml--<amount>`: margin left

  - `.u-p--<amount>`: padding
  - `.u-pt--<amount>`: padding top
  - `.u-pe--<amount>`: padding end (right in `LTR`, left in `RTL`)
  - `.u-pb--<amount>`: padding bottom
  - `.u-ps--<amount>`: padding start (left in `LTR`, right in `RTL`)
  - `.u-ph--<amount>`: horizontal padding
  - `.u-pv--<amount>`: vertical padding
  - `.u-pr--<amount>`: padding right
  - `.u-pl--<amount>`: padding left


Where `<amount>` can be either a unitless number representing a number of
typographic rhythm units as defined in
[$jigsass-sizes](https://txhawks.github.io/jigsass-tools-typography/#variable-jigsass-sizes)
a percentage, or a length specified in pixels.

JigSass Spacing supports negative margins, using `min-<number>` modifiers
(e.g., `h-mt--min-4`), as well as auto margins (e.g., `h-m--auto`).

Additionally, JigSass Spacing provide the autospace (`.u-autospace`) set of helper classes
for intelligently spacing an element's direct descendants:


  - `.u-autospace--<amount>`
  - `.u-autospace--<amount>(<n>up)`


`.u-autospace--<amount>` classes will give all but the first direct descendant of the element carrying the
class a `margin-top` of `<amount>`.

Similarly, `.u-autospace--<amount>(<n>up)` classes will give all but the `n` direct descendants of the
element carrying the class a `margin-top` of `<amount>`, allowing for intelligent spacing of
grid-like layouts.

For an in-depth presentation of the technique, see
[this article](http://alistapart.com/article/axiomatic-css-and-lobotomized-owls) by Heydon Pickering.

#### Installation

Using npm:

```sh
npm i -S jigsass-utils-spacing
```

#### Usage
Import JigSass Utils Spacing into your main scss file near its very end, together with all
other utilities (utilities should always be the last to be imported).

```scss
@import 'path/to/jigsass-utils-spacing/scss/index';
```

Like all other JigSass Utils, JigSass Spacing does not automatically generate any CSS
when imported. You would need to explicitly indicate that each individual spacing
class should actually be generated in each component or object it is used in
(clarification: This will include style declarations inside `.foo` and .`bar`):

```scss
// _c.foo.scss
.foo {
  @include jigsass-util(u-mt, $modifier: 6px); // <-- margin-top: 6px

  ...
}
```

```scss
// _c.bar.scss
.bar {
  @include jigsass-util(u-pb, $modifier: 12px);  // <-- padding-bottom: 12px
  @include jigsass-util(u-m, $modifier: 0, $from: large); // <-- margin: 0 from large bp and on.

  ...
}
```

Doing so helps us a great deal with portability, as no matter where we import component or object
partials, the correct utility classes will be generated. Think of it as a poor man's dependency
management.

Developer communication is also assisted by including "dependencies" wherever they are required,
as anyone going through a partial, can easily understand how it should be marked up with just a
glance.

As far as bloat goes, just don't worry about it - the actual styles will only be generated once,
at the location in the cascade where the Jigsass Spacing partial was imported into the main file.


JigSass Spacing classes are responsive-enabled, using [JigSass MQ](https://txhawks.github.io/jigsass-tools-mq/)
and the breakpoints defined in the [$jigsass-breakpoints](https://txhawks.github.io/jigsass-tools-mq/#variable-jigsass-breakpoints) variable.

Based on the breakpoint arguments passed to `jigsass-util` when including a Spacing class,
responsive modifiers are generated according to the following logic:

```scss
.u-m--<modifier>[-[-from-<breakpoint-name>][-until-<breakpoint-name>][-misc-<breakpoint-name>]]
```

So, assuming the `medium`, `large` and `landscape` breakpoints are defined in `$jigsass-breakpoints`
as `600px`, `1024px` and `(orientation: landscape)` respectively,

```scss
@include jigsass-util(u-m, $modifier: 2);
```
will generate the `.u-m--2` class, which is not limited to any media-query.

```scss
@include jigsass-util(u-p, $modifier: 4, $until: medium);
```

will generate the `.u-p--4--until-medium` class, which will be in effect at
`(max-width: 37.49em)` and will override styles in the default class until that point.

```scss
@include jigsass-util(u-mb, $modifier: 12px, $from: large, $misc: landscape);
```

will generate the `.u-mb--12px--from-large-when-landscape` class, which will go into
effect at `(min-width: 64em) and (orientation: landscape)` and will override styles in the default
class under these  conditions.


**License:** MIT



[npm-image]: https://badge.fury.io/js/jigsass-utils-spacing.svg
[npm-url]: https://npmjs.org/package/jigsass-utils-spacing

[daviddm-image]: https://david-dm.org/TxHawks/jigsass-utils-spacing.svg?theme=shields.io
[daviddm-url]: https://david-dm.org/TxHawks/jigsass-utils-spacing
*/
.u-autospace--1 > * + * {
  margin-top: 1rem;
  /* ---
section: Spacing Utils
title: u-autospace--1
order: 1
---
A utility class to intelligently space the direct descendants of an element.

#### Include with:

```scss
@include jigsass-util(u-autospace, $modifier: 1 [, $from, $until, $misc]);
```

#### Example

```example:html
<div class='fpo--b  u-autospace--1'>
  <div><div class='fpo'></div></div>
  <div><div class='fpo'></div></div>
  <div><div class='fpo'></div></div>
  <div><div class='fpo'></div></div>
  
  
  
  
  
  
  
  
  
</div>
```
*/
}

.u-autospace--4 > * + * {
  margin-top: 4rem;
  /* ---
section: Spacing Utils
title: u-autospace--4
order: 2
---
A utility class to intelligently space the direct descendants of an element.

#### Include with:

```scss
@include jigsass-util(u-autospace, $modifier: 4 [, $from, $until, $misc]);
```

#### Example

```example:html
<div class='fpo--b  u-autospace--4'>
  <div><div class='fpo'></div></div>
  <div><div class='fpo'></div></div>
  <div><div class='fpo'></div></div>
  <div><div class='fpo'></div></div>
  
  
  
  
  
  
  
  
  
</div>
```
*/
}

.u-autospace--2\(3up\) > * + * {
  /* ---
section: Spacing Utils
title: u-autospace--2(3up)
order: 3
---
A utility class to intelligently space the direct descendants of an element.

#### Include with:

```scss
@include jigsass-util(u-autospace, $modifier: 2(3up) [, $from, $until, $misc]);
```

#### Example

```example:html
<div class='fpo--b fpo--autospace3 u-autospace--2(3up)'>
  <div><div class='fpo'></div></div>
  <div><div class='fpo'></div></div>
  <div><div class='fpo'></div></div>
  <div><div class='fpo'></div></div>
  
  
  
  
  
  
  
  
  
</div>
```
*/
}

.u-autospace--2\(3up\) > * + *:nth-child(n+4) {
  margin-top: 2rem;
}

.u-autospace--4\(2up\) > * + * {
  /* ---
section: Spacing Utils
title: u-autospace--4(2up)
order: 4
---
A utility class to intelligently space the direct descendants of an element.

#### Include with:

```scss
@include jigsass-util(u-autospace, $modifier: 4(2up) [, $from, $until, $misc]);
```

#### Example

```example:html
<div class='fpo--b fpo--autospace2 u-autospace--4(2up)'>
  <div><div class='fpo'></div></div>
  <div><div class='fpo'></div></div>
  <div><div class='fpo'></div></div>
  <div><div class='fpo'></div></div>
  
  
  
  
  
  
  
  
  
</div>
```
*/
}

.u-autospace--4\(2up\) > * + *:nth-child(n+3) {
  margin-top: 4rem;
}

.u-m--1 {
  margin: 1rem;
  /* ---
section: Spacing Utils
title: u-m--1
order: 105
---
A utility class to set the margin on all sides of
an element.

#### Include with:

```scss
@include jigsass-util(u-m, $modifier: 1 [, $from, $until, $misc]);
```

#### Example

```example:html
<div class='fpo--b'>
  <div class='fpo  u-m--1'>
    This element has a 1 rhythm units margin on all sides.
  </div>
</div>
```
*/
}

.u-m--2 {
  margin: 2rem;
  /* ---
section: Spacing Utils
title: u-m--2
order: 106
---
A utility class to set the margin on all sides of
an element.

#### Include with:

```scss
@include jigsass-util(u-m, $modifier: 2 [, $from, $until, $misc]);
```

#### Example

```example:html
<div class='fpo--b'>
  <div class='fpo  u-m--2'>
    This element has a 2 rhythm units margin on all sides.
  </div>
</div>
```
*/
}

.u-m--3 {
  margin: 3rem;
  /* ---
section: Spacing Utils
title: u-m--3
order: 107
---
A utility class to set the margin on all sides of
an element.

#### Include with:

```scss
@include jigsass-util(u-m, $modifier: 3 [, $from, $until, $misc]);
```

#### Example

```example:html
<div class='fpo--b'>
  <div class='fpo  u-m--3'>
    This element has a 3 rhythm units margin on all sides.
  </div>
</div>
```
*/
}

.u-m--4 {
  margin: 4rem;
  /* ---
section: Spacing Utils
title: u-m--4
order: 108
---
A utility class to set the margin on all sides of
an element.

#### Include with:

```scss
@include jigsass-util(u-m, $modifier: 4 [, $from, $until, $misc]);
```

#### Example

```example:html
<div class='fpo--b'>
  <div class='fpo  u-m--4'>
    This element has a 4 rhythm units margin on all sides.
  </div>
</div>
```
*/
}

.u-mt--1 {
  margin-top: 1rem;
  /* ---
section: Spacing Utils
title: u-mt--1
order: 209
---
A utility class to set the top margin of
an element.

#### Include with:

```scss
@include jigsass-util(u-mt, $modifier: 1 [, $from, $until, $misc]);
```

#### Example

```example:html
<div class='fpo--b'>
  <div class='fpo  u-mt--1'>
    This element has a 1 rhythm units top margin.
  </div>
</div>
```
*/
}

.u-mt--2 {
  margin-top: 2rem;
  /* ---
section: Spacing Utils
title: u-mt--2
order: 210
---
A utility class to set the top margin of
an element.

#### Include with:

```scss
@include jigsass-util(u-mt, $modifier: 2 [, $from, $until, $misc]);
```

#### Example

```example:html
<div class='fpo--b'>
  <div class='fpo  u-mt--2'>
    This element has a 2 rhythm units top margin.
  </div>
</div>
```
*/
}

.u-mt--3 {
  margin-top: 3rem;
  /* ---
section: Spacing Utils
title: u-mt--3
order: 211
---
A utility class to set the top margin of
an element.

#### Include with:

```scss
@include jigsass-util(u-mt, $modifier: 3 [, $from, $until, $misc]);
```

#### Example

```example:html
<div class='fpo--b'>
  <div class='fpo  u-mt--3'>
    This element has a 3 rhythm units top margin.
  </div>
</div>
```
*/
}

.u-mt--4 {
  margin-top: 4rem;
  /* ---
section: Spacing Utils
title: u-mt--4
order: 212
---
A utility class to set the top margin of
an element.

#### Include with:

```scss
@include jigsass-util(u-mt, $modifier: 4 [, $from, $until, $misc]);
```

#### Example

```example:html
<div class='fpo--b'>
  <div class='fpo  u-mt--4'>
    This element has a 4 rhythm units top margin.
  </div>
</div>
```
*/
}

.u-me--1 {
  margin-right: 1rem;
  /* ---
section: Spacing Utils
title: u-me--1
order: 313
---
A utility class to set the margin on the horizontal end of
an element.

#### Include with:

```scss
@include jigsass-util(u-me, $modifier: 1 [, $from, $until, $misc]);
```

#### Example

```example:html
<div class='fpo--b'>
  <div class='fpo  u-me--1'>
    This element has a 1 rhythm units margin on the horizontal end.
  </div>
</div>
```
*/
}

[dir=ltr] .u-me--1 {
  margin-right: 1rem;
}

[dir=rtl] .u-me--1 {
  margin-left: 1rem;
}

.u-me--2 {
  margin-right: 2rem;
  /* ---
section: Spacing Utils
title: u-me--2
order: 314
---
A utility class to set the margin on the horizontal end of
an element.

#### Include with:

```scss
@include jigsass-util(u-me, $modifier: 2 [, $from, $until, $misc]);
```

#### Example

```example:html
<div class='fpo--b'>
  <div class='fpo  u-me--2'>
    This element has a 2 rhythm units margin on the horizontal end.
  </div>
</div>
```
*/
}

[dir=ltr] .u-me--2 {
  margin-right: 2rem;
}

[dir=rtl] .u-me--2 {
  margin-left: 2rem;
}

.u-me--3 {
  margin-right: 3rem;
  /* ---
section: Spacing Utils
title: u-me--3
order: 315
---
A utility class to set the margin on the horizontal end of
an element.

#### Include with:

```scss
@include jigsass-util(u-me, $modifier: 3 [, $from, $until, $misc]);
```

#### Example

```example:html
<div class='fpo--b'>
  <div class='fpo  u-me--3'>
    This element has a 3 rhythm units margin on the horizontal end.
  </div>
</div>
```
*/
}

[dir=ltr] .u-me--3 {
  margin-right: 3rem;
}

[dir=rtl] .u-me--3 {
  margin-left: 3rem;
}

.u-me--4 {
  margin-right: 4rem;
  /* ---
section: Spacing Utils
title: u-me--4
order: 316
---
A utility class to set the margin on the horizontal end of
an element.

#### Include with:

```scss
@include jigsass-util(u-me, $modifier: 4 [, $from, $until, $misc]);
```

#### Example

```example:html
<div class='fpo--b'>
  <div class='fpo  u-me--4'>
    This element has a 4 rhythm units margin on the horizontal end.
  </div>
</div>
```
*/
}

[dir=ltr] .u-me--4 {
  margin-right: 4rem;
}

[dir=rtl] .u-me--4 {
  margin-left: 4rem;
}

.u-mb--1 {
  margin-bottom: 1rem;
  /* ---
section: Spacing Utils
title: u-mb--1
order: 417
---
A utility class to set the bottom margin of
an element.

#### Include with:

```scss
@include jigsass-util(u-mb, $modifier: 1 [, $from, $until, $misc]);
```

#### Example

```example:html
<div class='fpo--b'>
  <div class='fpo  u-mb--1'>
    This element has a 1 rhythm units bottom margin.
  </div>
</div>
```
*/
}

.u-mb--2 {
  margin-bottom: 2rem;
  /* ---
section: Spacing Utils
title: u-mb--2
order: 418
---
A utility class to set the bottom margin of
an element.

#### Include with:

```scss
@include jigsass-util(u-mb, $modifier: 2 [, $from, $until, $misc]);
```

#### Example

```example:html
<div class='fpo--b'>
  <div class='fpo  u-mb--2'>
    This element has a 2 rhythm units bottom margin.
  </div>
</div>
```
*/
}

.u-mb--3 {
  margin-bottom: 3rem;
  /* ---
section: Spacing Utils
title: u-mb--3
order: 419
---
A utility class to set the bottom margin of
an element.

#### Include with:

```scss
@include jigsass-util(u-mb, $modifier: 3 [, $from, $until, $misc]);
```

#### Example

```example:html
<div class='fpo--b'>
  <div class='fpo  u-mb--3'>
    This element has a 3 rhythm units bottom margin.
  </div>
</div>
```
*/
}

.u-mb--4 {
  margin-bottom: 4rem;
  /* ---
section: Spacing Utils
title: u-mb--4
order: 420
---
A utility class to set the bottom margin of
an element.

#### Include with:

```scss
@include jigsass-util(u-mb, $modifier: 4 [, $from, $until, $misc]);
```

#### Example

```example:html
<div class='fpo--b'>
  <div class='fpo  u-mb--4'>
    This element has a 4 rhythm units bottom margin.
  </div>
</div>
```
*/
}

.u-ms--1 {
  margin-left: 1rem;
  /* ---
section: Spacing Utils
title: u-ms--1
order: 521
---
A utility class to set the margin on the horizontal start of
an element.

#### Include with:

```scss
@include jigsass-util(u-ms, $modifier: 1 [, $from, $until, $misc]);
```

#### Example

```example:html
<div class='fpo--b'>
  <div class='fpo  u-ms--1'>
    This element has a 1 rhythm units margin on the horizontal start.
  </div>
</div>
```
*/
}

[dir=ltr] .u-ms--1 {
  margin-left: 1rem;
}

[dir=rtl] .u-ms--1 {
  margin-right: 1rem;
}

.u-ms--2 {
  margin-left: 2rem;
  /* ---
section: Spacing Utils
title: u-ms--2
order: 522
---
A utility class to set the margin on the horizontal start of
an element.

#### Include with:

```scss
@include jigsass-util(u-ms, $modifier: 2 [, $from, $until, $misc]);
```

#### Example

```example:html
<div class='fpo--b'>
  <div class='fpo  u-ms--2'>
    This element has a 2 rhythm units margin on the horizontal start.
  </div>
</div>
```
*/
}

[dir=ltr] .u-ms--2 {
  margin-left: 2rem;
}

[dir=rtl] .u-ms--2 {
  margin-right: 2rem;
}

.u-ms--3 {
  margin-left: 3rem;
  /* ---
section: Spacing Utils
title: u-ms--3
order: 523
---
A utility class to set the margin on the horizontal start of
an element.

#### Include with:

```scss
@include jigsass-util(u-ms, $modifier: 3 [, $from, $until, $misc]);
```

#### Example

```example:html
<div class='fpo--b'>
  <div class='fpo  u-ms--3'>
    This element has a 3 rhythm units margin on the horizontal start.
  </div>
</div>
```
*/
}

[dir=ltr] .u-ms--3 {
  margin-left: 3rem;
}

[dir=rtl] .u-ms--3 {
  margin-right: 3rem;
}

.u-ms--4 {
  margin-left: 4rem;
  /* ---
section: Spacing Utils
title: u-ms--4
order: 524
---
A utility class to set the margin on the horizontal start of
an element.

#### Include with:

```scss
@include jigsass-util(u-ms, $modifier: 4 [, $from, $until, $misc]);
```

#### Example

```example:html
<div class='fpo--b'>
  <div class='fpo  u-ms--4'>
    This element has a 4 rhythm units margin on the horizontal start.
  </div>
</div>
```
*/
}

[dir=ltr] .u-ms--4 {
  margin-left: 4rem;
}

[dir=rtl] .u-ms--4 {
  margin-right: 4rem;
}

.u-mh--1 {
  margin-left: 1rem;
  margin-right: 1rem;
  /* ---
section: Spacing Utils
title: u-mh--1
order: 625
---
A utility class to set the horizontal (left and right) margins of
an element.

#### Include with:

```scss
@include jigsass-util(u-mh, $modifier: 1 [, $from, $until, $misc]);
```

#### Example

```example:html
<div class='fpo--b'>
  <div class='fpo  u-mh--1'>
    This element has a 1 rhythm units horizontal (left and right) margins.
  </div>
</div>
```
*/
}

.u-mh--2 {
  margin-left: 2rem;
  margin-right: 2rem;
  /* ---
section: Spacing Utils
title: u-mh--2
order: 626
---
A utility class to set the horizontal (left and right) margins of
an element.

#### Include with:

```scss
@include jigsass-util(u-mh, $modifier: 2 [, $from, $until, $misc]);
```

#### Example

```example:html
<div class='fpo--b'>
  <div class='fpo  u-mh--2'>
    This element has a 2 rhythm units horizontal (left and right) margins.
  </div>
</div>
```
*/
}

.u-mh--3 {
  margin-left: 3rem;
  margin-right: 3rem;
  /* ---
section: Spacing Utils
title: u-mh--3
order: 627
---
A utility class to set the horizontal (left and right) margins of
an element.

#### Include with:

```scss
@include jigsass-util(u-mh, $modifier: 3 [, $from, $until, $misc]);
```

#### Example

```example:html
<div class='fpo--b'>
  <div class='fpo  u-mh--3'>
    This element has a 3 rhythm units horizontal (left and right) margins.
  </div>
</div>
```
*/
}

.u-mh--4 {
  margin-left: 4rem;
  margin-right: 4rem;
  /* ---
section: Spacing Utils
title: u-mh--4
order: 628
---
A utility class to set the horizontal (left and right) margins of
an element.

#### Include with:

```scss
@include jigsass-util(u-mh, $modifier: 4 [, $from, $until, $misc]);
```

#### Example

```example:html
<div class='fpo--b'>
  <div class='fpo  u-mh--4'>
    This element has a 4 rhythm units horizontal (left and right) margins.
  </div>
</div>
```
*/
}

.u-mv--1 {
  margin-bottom: 1rem;
  margin-top: 1rem;
  /* ---
section: Spacing Utils
title: u-mv--1
order: 729
---
A utility class to set the vertical (top and bottom) margins of
an element.

#### Include with:

```scss
@include jigsass-util(u-mv, $modifier: 1 [, $from, $until, $misc]);
```

#### Example

```example:html
<div class='fpo--b'>
  <div class='fpo  u-mv--1'>
    This element has a 1 rhythm units vertical (top and bottom) margins.
  </div>
</div>
```
*/
}

.u-mv--2 {
  margin-bottom: 2rem;
  margin-top: 2rem;
  /* ---
section: Spacing Utils
title: u-mv--2
order: 730
---
A utility class to set the vertical (top and bottom) margins of
an element.

#### Include with:

```scss
@include jigsass-util(u-mv, $modifier: 2 [, $from, $until, $misc]);
```

#### Example

```example:html
<div class='fpo--b'>
  <div class='fpo  u-mv--2'>
    This element has a 2 rhythm units vertical (top and bottom) margins.
  </div>
</div>
```
*/
}

.u-mv--3 {
  margin-bottom: 3rem;
  margin-top: 3rem;
  /* ---
section: Spacing Utils
title: u-mv--3
order: 731
---
A utility class to set the vertical (top and bottom) margins of
an element.

#### Include with:

```scss
@include jigsass-util(u-mv, $modifier: 3 [, $from, $until, $misc]);
```

#### Example

```example:html
<div class='fpo--b'>
  <div class='fpo  u-mv--3'>
    This element has a 3 rhythm units vertical (top and bottom) margins.
  </div>
</div>
```
*/
}

.u-mv--4 {
  margin-bottom: 4rem;
  margin-top: 4rem;
  /* ---
section: Spacing Utils
title: u-mv--4
order: 732
---
A utility class to set the vertical (top and bottom) margins of
an element.

#### Include with:

```scss
@include jigsass-util(u-mv, $modifier: 4 [, $from, $until, $misc]);
```

#### Example

```example:html
<div class='fpo--b'>
  <div class='fpo  u-mv--4'>
    This element has a 4 rhythm units vertical (top and bottom) margins.
  </div>
</div>
```
*/
}

.u-mr--1 {
  margin-right: 1rem;
  /* ---
section: Spacing Utils
title: u-mr--1
order: 833
---
A utility class to set the right margin of
an element.

#### Include with:

```scss
@include jigsass-util(u-mr, $modifier: 1 [, $from, $until, $misc]);
```

#### Example

```example:html
<div class='fpo--b'>
  <div class='fpo  u-mr--1'>
    This element has a 1 rhythm units right margin.
  </div>
</div>
```
*/
}

.u-mr--2 {
  margin-right: 2rem;
  /* ---
section: Spacing Utils
title: u-mr--2
order: 834
---
A utility class to set the right margin of
an element.

#### Include with:

```scss
@include jigsass-util(u-mr, $modifier: 2 [, $from, $until, $misc]);
```

#### Example

```example:html
<div class='fpo--b'>
  <div class='fpo  u-mr--2'>
    This element has a 2 rhythm units right margin.
  </div>
</div>
```
*/
}

.u-mr--3 {
  margin-right: 3rem;
  /* ---
section: Spacing Utils
title: u-mr--3
order: 835
---
A utility class to set the right margin of
an element.

#### Include with:

```scss
@include jigsass-util(u-mr, $modifier: 3 [, $from, $until, $misc]);
```

#### Example

```example:html
<div class='fpo--b'>
  <div class='fpo  u-mr--3'>
    This element has a 3 rhythm units right margin.
  </div>
</div>
```
*/
}

.u-mr--4 {
  margin-right: 4rem;
  /* ---
section: Spacing Utils
title: u-mr--4
order: 836
---
A utility class to set the right margin of
an element.

#### Include with:

```scss
@include jigsass-util(u-mr, $modifier: 4 [, $from, $until, $misc]);
```

#### Example

```example:html
<div class='fpo--b'>
  <div class='fpo  u-mr--4'>
    This element has a 4 rhythm units right margin.
  </div>
</div>
```
*/
}

.u-ml--1 {
  margin-left: 1rem;
  /* ---
section: Spacing Utils
title: u-ml--1
order: 937
---
A utility class to set the left margin of
an element.

#### Include with:

```scss
@include jigsass-util(u-ml, $modifier: 1 [, $from, $until, $misc]);
```

#### Example

```example:html
<div class='fpo--b'>
  <div class='fpo  u-ml--1'>
    This element has a 1 rhythm units left margin.
  </div>
</div>
```
*/
}

.u-ml--2 {
  margin-left: 2rem;
  /* ---
section: Spacing Utils
title: u-ml--2
order: 938
---
A utility class to set the left margin of
an element.

#### Include with:

```scss
@include jigsass-util(u-ml, $modifier: 2 [, $from, $until, $misc]);
```

#### Example

```example:html
<div class='fpo--b'>
  <div class='fpo  u-ml--2'>
    This element has a 2 rhythm units left margin.
  </div>
</div>
```
*/
}

.u-ml--3 {
  margin-left: 3rem;
  /* ---
section: Spacing Utils
title: u-ml--3
order: 939
---
A utility class to set the left margin of
an element.

#### Include with:

```scss
@include jigsass-util(u-ml, $modifier: 3 [, $from, $until, $misc]);
```

#### Example

```example:html
<div class='fpo--b'>
  <div class='fpo  u-ml--3'>
    This element has a 3 rhythm units left margin.
  </div>
</div>
```
*/
}

.u-ml--4 {
  margin-left: 4rem;
  /* ---
section: Spacing Utils
title: u-ml--4
order: 940
---
A utility class to set the left margin of
an element.

#### Include with:

```scss
@include jigsass-util(u-ml, $modifier: 4 [, $from, $until, $misc]);
```

#### Example

```example:html
<div class='fpo--b'>
  <div class='fpo  u-ml--4'>
    This element has a 4 rhythm units left margin.
  </div>
</div>
```
*/
}

.u-p--1 {
  padding: 1rem;
  /* ---
section: Spacing Utils
title: u-p--1
order: 1041
---
A utility class to set the padding of
an element.

#### Include with:

```scss
@include jigsass-util(u-p, $modifier: 1 [, $from, $until, $misc]);
```

#### Example

```example:html
<div class='fpo--b'>
  <div class='fpo  u-p--1'>
    This element has a 1 rhythm units padding.
  </div>
</div>
```
*/
}

.u-p--2 {
  padding: 2rem;
  /* ---
section: Spacing Utils
title: u-p--2
order: 1042
---
A utility class to set the padding of
an element.

#### Include with:

```scss
@include jigsass-util(u-p, $modifier: 2 [, $from, $until, $misc]);
```

#### Example

```example:html
<div class='fpo--b'>
  <div class='fpo  u-p--2'>
    This element has a 2 rhythm units padding.
  </div>
</div>
```
*/
}

.u-p--3 {
  padding: 3rem;
  /* ---
section: Spacing Utils
title: u-p--3
order: 1043
---
A utility class to set the padding of
an element.

#### Include with:

```scss
@include jigsass-util(u-p, $modifier: 3 [, $from, $until, $misc]);
```

#### Example

```example:html
<div class='fpo--b'>
  <div class='fpo  u-p--3'>
    This element has a 3 rhythm units padding.
  </div>
</div>
```
*/
}

.u-p--4 {
  padding: 4rem;
  /* ---
section: Spacing Utils
title: u-p--4
order: 1044
---
A utility class to set the padding of
an element.

#### Include with:

```scss
@include jigsass-util(u-p, $modifier: 4 [, $from, $until, $misc]);
```

#### Example

```example:html
<div class='fpo--b'>
  <div class='fpo  u-p--4'>
    This element has a 4 rhythm units padding.
  </div>
</div>
```
*/
}

.u-pt--1 {
  padding-top: 1rem;
  /* ---
section: Spacing Utils
title: u-pt--1
order: 1145
---
A utility class to set the top padding of
an element.

#### Include with:

```scss
@include jigsass-util(u-pt, $modifier: 1 [, $from, $until, $misc]);
```

#### Example

```example:html
<div class='fpo--b'>
  <div class='fpo  u-pt--1'>
    This element has a 1 rhythm units top padding.
  </div>
</div>
```
*/
}

.u-pt--2 {
  padding-top: 2rem;
  /* ---
section: Spacing Utils
title: u-pt--2
order: 1146
---
A utility class to set the top padding of
an element.

#### Include with:

```scss
@include jigsass-util(u-pt, $modifier: 2 [, $from, $until, $misc]);
```

#### Example

```example:html
<div class='fpo--b'>
  <div class='fpo  u-pt--2'>
    This element has a 2 rhythm units top padding.
  </div>
</div>
```
*/
}

.u-pt--3 {
  padding-top: 3rem;
  /* ---
section: Spacing Utils
title: u-pt--3
order: 1147
---
A utility class to set the top padding of
an element.

#### Include with:

```scss
@include jigsass-util(u-pt, $modifier: 3 [, $from, $until, $misc]);
```

#### Example

```example:html
<div class='fpo--b'>
  <div class='fpo  u-pt--3'>
    This element has a 3 rhythm units top padding.
  </div>
</div>
```
*/
}

.u-pt--4 {
  padding-top: 4rem;
  /* ---
section: Spacing Utils
title: u-pt--4
order: 1148
---
A utility class to set the top padding of
an element.

#### Include with:

```scss
@include jigsass-util(u-pt, $modifier: 4 [, $from, $until, $misc]);
```

#### Example

```example:html
<div class='fpo--b'>
  <div class='fpo  u-pt--4'>
    This element has a 4 rhythm units top padding.
  </div>
</div>
```
*/
}

.u-pe--1 {
  padding-right: 1rem;
  /* ---
section: Spacing Utils
title: u-pe--1
order: 1249
---
A utility class to set the padding on the horizontal end of
an element.

#### Include with:

```scss
@include jigsass-util(u-pe, $modifier: 1 [, $from, $until, $misc]);
```

#### Example

```example:html
<div class='fpo--b'>
  <div class='fpo  u-pe--1'>
    This element has a 1 rhythm units padding on the horizontal end.
  </div>
</div>
```
*/
}

[dir=ltr] .u-pe--1 {
  padding-right: 1rem;
}

[dir=rtl] .u-pe--1 {
  padding-left: 1rem;
}

.u-pe--2 {
  padding-right: 2rem;
  /* ---
section: Spacing Utils
title: u-pe--2
order: 1250
---
A utility class to set the padding on the horizontal end of
an element.

#### Include with:

```scss
@include jigsass-util(u-pe, $modifier: 2 [, $from, $until, $misc]);
```

#### Example

```example:html
<div class='fpo--b'>
  <div class='fpo  u-pe--2'>
    This element has a 2 rhythm units padding on the horizontal end.
  </div>
</div>
```
*/
}

[dir=ltr] .u-pe--2 {
  padding-right: 2rem;
}

[dir=rtl] .u-pe--2 {
  padding-left: 2rem;
}

.u-pe--3 {
  padding-right: 3rem;
  /* ---
section: Spacing Utils
title: u-pe--3
order: 1251
---
A utility class to set the padding on the horizontal end of
an element.

#### Include with:

```scss
@include jigsass-util(u-pe, $modifier: 3 [, $from, $until, $misc]);
```

#### Example

```example:html
<div class='fpo--b'>
  <div class='fpo  u-pe--3'>
    This element has a 3 rhythm units padding on the horizontal end.
  </div>
</div>
```
*/
}

[dir=ltr] .u-pe--3 {
  padding-right: 3rem;
}

[dir=rtl] .u-pe--3 {
  padding-left: 3rem;
}

.u-pe--4 {
  padding-right: 4rem;
  /* ---
section: Spacing Utils
title: u-pe--4
order: 1252
---
A utility class to set the padding on the horizontal end of
an element.

#### Include with:

```scss
@include jigsass-util(u-pe, $modifier: 4 [, $from, $until, $misc]);
```

#### Example

```example:html
<div class='fpo--b'>
  <div class='fpo  u-pe--4'>
    This element has a 4 rhythm units padding on the horizontal end.
  </div>
</div>
```
*/
}

[dir=ltr] .u-pe--4 {
  padding-right: 4rem;
}

[dir=rtl] .u-pe--4 {
  padding-left: 4rem;
}

.u-pb--1 {
  padding-bottom: 1rem;
  /* ---
section: Spacing Utils
title: u-pb--1
order: 1353
---
A utility class to set the bottom padding of
an element.

#### Include with:

```scss
@include jigsass-util(u-pb, $modifier: 1 [, $from, $until, $misc]);
```

#### Example

```example:html
<div class='fpo--b'>
  <div class='fpo  u-pb--1'>
    This element has a 1 rhythm units bottom padding.
  </div>
</div>
```
*/
}

.u-pb--2 {
  padding-bottom: 2rem;
  /* ---
section: Spacing Utils
title: u-pb--2
order: 1354
---
A utility class to set the bottom padding of
an element.

#### Include with:

```scss
@include jigsass-util(u-pb, $modifier: 2 [, $from, $until, $misc]);
```

#### Example

```example:html
<div class='fpo--b'>
  <div class='fpo  u-pb--2'>
    This element has a 2 rhythm units bottom padding.
  </div>
</div>
```
*/
}

.u-pb--3 {
  padding-bottom: 3rem;
  /* ---
section: Spacing Utils
title: u-pb--3
order: 1355
---
A utility class to set the bottom padding of
an element.

#### Include with:

```scss
@include jigsass-util(u-pb, $modifier: 3 [, $from, $until, $misc]);
```

#### Example

```example:html
<div class='fpo--b'>
  <div class='fpo  u-pb--3'>
    This element has a 3 rhythm units bottom padding.
  </div>
</div>
```
*/
}

.u-pb--4 {
  padding-bottom: 4rem;
  /* ---
section: Spacing Utils
title: u-pb--4
order: 1356
---
A utility class to set the bottom padding of
an element.

#### Include with:

```scss
@include jigsass-util(u-pb, $modifier: 4 [, $from, $until, $misc]);
```

#### Example

```example:html
<div class='fpo--b'>
  <div class='fpo  u-pb--4'>
    This element has a 4 rhythm units bottom padding.
  </div>
</div>
```
*/
}

.u-ps--1 {
  padding-left: 1rem;
  /* ---
section: Spacing Utils
title: u-ps--1
order: 1457
---
A utility class to set the padding on the horizontal start of
an element.

#### Include with:

```scss
@include jigsass-util(u-ps, $modifier: 1 [, $from, $until, $misc]);
```

#### Example

```example:html
<div class='fpo--b'>
  <div class='fpo  u-ps--1'>
    This element has a 1 rhythm units padding on the horizontal start.
  </div>
</div>
```
*/
}

[dir=ltr] .u-ps--1 {
  padding-left: 1rem;
}

[dir=rtl] .u-ps--1 {
  padding-right: 1rem;
}

.u-ps--2 {
  padding-left: 2rem;
  /* ---
section: Spacing Utils
title: u-ps--2
order: 1458
---
A utility class to set the padding on the horizontal start of
an element.

#### Include with:

```scss
@include jigsass-util(u-ps, $modifier: 2 [, $from, $until, $misc]);
```

#### Example

```example:html
<div class='fpo--b'>
  <div class='fpo  u-ps--2'>
    This element has a 2 rhythm units padding on the horizontal start.
  </div>
</div>
```
*/
}

[dir=ltr] .u-ps--2 {
  padding-left: 2rem;
}

[dir=rtl] .u-ps--2 {
  padding-right: 2rem;
}

.u-ps--3 {
  padding-left: 3rem;
  /* ---
section: Spacing Utils
title: u-ps--3
order: 1459
---
A utility class to set the padding on the horizontal start of
an element.

#### Include with:

```scss
@include jigsass-util(u-ps, $modifier: 3 [, $from, $until, $misc]);
```

#### Example

```example:html
<div class='fpo--b'>
  <div class='fpo  u-ps--3'>
    This element has a 3 rhythm units padding on the horizontal start.
  </div>
</div>
```
*/
}

[dir=ltr] .u-ps--3 {
  padding-left: 3rem;
}

[dir=rtl] .u-ps--3 {
  padding-right: 3rem;
}

.u-ps--4 {
  padding-left: 4rem;
  /* ---
section: Spacing Utils
title: u-ps--4
order: 1460
---
A utility class to set the padding on the horizontal start of
an element.

#### Include with:

```scss
@include jigsass-util(u-ps, $modifier: 4 [, $from, $until, $misc]);
```

#### Example

```example:html
<div class='fpo--b'>
  <div class='fpo  u-ps--4'>
    This element has a 4 rhythm units padding on the horizontal start.
  </div>
</div>
```
*/
}

[dir=ltr] .u-ps--4 {
  padding-left: 4rem;
}

[dir=rtl] .u-ps--4 {
  padding-right: 4rem;
}

.u-ph--1 {
  padding-left: 1rem;
  padding-right: 1rem;
  /* ---
section: Spacing Utils
title: u-ph--1
order: 1561
---
A utility class to set the horizontal (left and right) padding of
an element.

#### Include with:

```scss
@include jigsass-util(u-ph, $modifier: 1 [, $from, $until, $misc]);
```

#### Example

```example:html
<div class='fpo--b'>
  <div class='fpo  u-ph--1'>
    This element has a 1 rhythm units horizontal (left and right) padding.
  </div>
</div>
```
*/
}

.u-ph--2 {
  padding-left: 2rem;
  padding-right: 2rem;
  /* ---
section: Spacing Utils
title: u-ph--2
order: 1562
---
A utility class to set the horizontal (left and right) padding of
an element.

#### Include with:

```scss
@include jigsass-util(u-ph, $modifier: 2 [, $from, $until, $misc]);
```

#### Example

```example:html
<div class='fpo--b'>
  <div class='fpo  u-ph--2'>
    This element has a 2 rhythm units horizontal (left and right) padding.
  </div>
</div>
```
*/
}

.u-ph--3 {
  padding-left: 3rem;
  padding-right: 3rem;
  /* ---
section: Spacing Utils
title: u-ph--3
order: 1563
---
A utility class to set the horizontal (left and right) padding of
an element.

#### Include with:

```scss
@include jigsass-util(u-ph, $modifier: 3 [, $from, $until, $misc]);
```

#### Example

```example:html
<div class='fpo--b'>
  <div class='fpo  u-ph--3'>
    This element has a 3 rhythm units horizontal (left and right) padding.
  </div>
</div>
```
*/
}

.u-ph--4 {
  padding-left: 4rem;
  padding-right: 4rem;
  /* ---
section: Spacing Utils
title: u-ph--4
order: 1564
---
A utility class to set the horizontal (left and right) padding of
an element.

#### Include with:

```scss
@include jigsass-util(u-ph, $modifier: 4 [, $from, $until, $misc]);
```

#### Example

```example:html
<div class='fpo--b'>
  <div class='fpo  u-ph--4'>
    This element has a 4 rhythm units horizontal (left and right) padding.
  </div>
</div>
```
*/
}

.u-pv--1 {
  padding-bottom: 1rem;
  padding-top: 1rem;
  /* ---
section: Spacing Utils
title: u-pv--1
order: 1665
---
A utility class to set the vertical (tiop and bottom) padding of
an element.

#### Include with:

```scss
@include jigsass-util(u-pv, $modifier: 1 [, $from, $until, $misc]);
```

#### Example

```example:html
<div class='fpo--b'>
  <div class='fpo  u-pv--1'>
    This element has a 1 rhythm units vertical (tiop and bottom) padding.
  </div>
</div>
```
*/
}

.u-pv--2 {
  padding-bottom: 2rem;
  padding-top: 2rem;
  /* ---
section: Spacing Utils
title: u-pv--2
order: 1666
---
A utility class to set the vertical (tiop and bottom) padding of
an element.

#### Include with:

```scss
@include jigsass-util(u-pv, $modifier: 2 [, $from, $until, $misc]);
```

#### Example

```example:html
<div class='fpo--b'>
  <div class='fpo  u-pv--2'>
    This element has a 2 rhythm units vertical (tiop and bottom) padding.
  </div>
</div>
```
*/
}

.u-pv--3 {
  padding-bottom: 3rem;
  padding-top: 3rem;
  /* ---
section: Spacing Utils
title: u-pv--3
order: 1667
---
A utility class to set the vertical (tiop and bottom) padding of
an element.

#### Include with:

```scss
@include jigsass-util(u-pv, $modifier: 3 [, $from, $until, $misc]);
```

#### Example

```example:html
<div class='fpo--b'>
  <div class='fpo  u-pv--3'>
    This element has a 3 rhythm units vertical (tiop and bottom) padding.
  </div>
</div>
```
*/
}

.u-pv--4 {
  padding-bottom: 4rem;
  padding-top: 4rem;
  /* ---
section: Spacing Utils
title: u-pv--4
order: 1668
---
A utility class to set the vertical (tiop and bottom) padding of
an element.

#### Include with:

```scss
@include jigsass-util(u-pv, $modifier: 4 [, $from, $until, $misc]);
```

#### Example

```example:html
<div class='fpo--b'>
  <div class='fpo  u-pv--4'>
    This element has a 4 rhythm units vertical (tiop and bottom) padding.
  </div>
</div>
```
*/
}

.u-pr--1 {
  padding-right: 1rem;
  /* ---
section: Spacing Utils
title: u-pr--1
order: 1769
---
A utility class to set the right padding of
an element.

#### Include with:

```scss
@include jigsass-util(u-pr, $modifier: 1 [, $from, $until, $misc]);
```

#### Example

```example:html
<div class='fpo--b'>
  <div class='fpo  u-pr--1'>
    This element has a 1 rhythm units right padding.
  </div>
</div>
```
*/
}

.u-pr--2 {
  padding-right: 2rem;
  /* ---
section: Spacing Utils
title: u-pr--2
order: 1770
---
A utility class to set the right padding of
an element.

#### Include with:

```scss
@include jigsass-util(u-pr, $modifier: 2 [, $from, $until, $misc]);
```

#### Example

```example:html
<div class='fpo--b'>
  <div class='fpo  u-pr--2'>
    This element has a 2 rhythm units right padding.
  </div>
</div>
```
*/
}

.u-pr--3 {
  padding-right: 3rem;
  /* ---
section: Spacing Utils
title: u-pr--3
order: 1771
---
A utility class to set the right padding of
an element.

#### Include with:

```scss
@include jigsass-util(u-pr, $modifier: 3 [, $from, $until, $misc]);
```

#### Example

```example:html
<div class='fpo--b'>
  <div class='fpo  u-pr--3'>
    This element has a 3 rhythm units right padding.
  </div>
</div>
```
*/
}

.u-pr--4 {
  padding-right: 4rem;
  /* ---
section: Spacing Utils
title: u-pr--4
order: 1772
---
A utility class to set the right padding of
an element.

#### Include with:

```scss
@include jigsass-util(u-pr, $modifier: 4 [, $from, $until, $misc]);
```

#### Example

```example:html
<div class='fpo--b'>
  <div class='fpo  u-pr--4'>
    This element has a 4 rhythm units right padding.
  </div>
</div>
```
*/
}

.u-pl--1 {
  padding-left: 1rem;
  /* ---
section: Spacing Utils
title: u-pl--1
order: 1873
---
A utility class to set the left padding of
an element.

#### Include with:

```scss
@include jigsass-util(u-pl, $modifier: 1 [, $from, $until, $misc]);
```

#### Example

```example:html
<div class='fpo--b'>
  <div class='fpo  u-pl--1'>
    This element has a 1 rhythm units left padding.
  </div>
</div>
```
*/
}

.u-pl--2 {
  padding-left: 2rem;
  /* ---
section: Spacing Utils
title: u-pl--2
order: 1874
---
A utility class to set the left padding of
an element.

#### Include with:

```scss
@include jigsass-util(u-pl, $modifier: 2 [, $from, $until, $misc]);
```

#### Example

```example:html
<div class='fpo--b'>
  <div class='fpo  u-pl--2'>
    This element has a 2 rhythm units left padding.
  </div>
</div>
```
*/
}

.u-pl--3 {
  padding-left: 3rem;
  /* ---
section: Spacing Utils
title: u-pl--3
order: 1875
---
A utility class to set the left padding of
an element.

#### Include with:

```scss
@include jigsass-util(u-pl, $modifier: 3 [, $from, $until, $misc]);
```

#### Example

```example:html
<div class='fpo--b'>
  <div class='fpo  u-pl--3'>
    This element has a 3 rhythm units left padding.
  </div>
</div>
```
*/
}

.u-pl--4 {
  padding-left: 4rem;
  /* ---
section: Spacing Utils
title: u-pl--4
order: 1876
---
A utility class to set the left padding of
an element.

#### Include with:

```scss
@include jigsass-util(u-pl, $modifier: 4 [, $from, $until, $misc]);
```

#### Example

```example:html
<div class='fpo--b'>
  <div class='fpo  u-pl--4'>
    This element has a 4 rhythm units left padding.
  </div>
</div>
```
*/
}

html {
  font-size: 37.5%;
}

body {
  font-size: 2.6666666667em;
  line-height: 4rem;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0 !important;
}

.fpo {
  background-color: #09a5d9;
  color: #fff;
  padding: 2rem;
}

.fpo--b {
  background-color: paleturquoise;
  overflow: hidden;
}

.fpo--c {
  padding: .5rem;
}

.fpo--autospace1 {
  margin-left: -2rem;
  overflow: hidden;
}

.fpo--autospace1 > * {
  box-sizing: border-box;
  float: left;
  padding-left: 2rem;
  width: 100%;
}

.fpo--autospace2 {
  margin-left: -2rem;
  overflow: hidden;
}

.fpo--autospace2 > * {
  box-sizing: border-box;
  float: left;
  padding-left: 2rem;
  width: 50%;
}

.fpo--autospace3 {
  margin-left: -2rem;
  overflow: hidden;
}

.fpo--autospace3 > * {
  box-sizing: border-box;
  float: left;
  padding-left: 2rem;
  width: 33.3333333333%;
}

.fpo--autospace4 {
  margin-left: -2rem;
  overflow: hidden;
}

.fpo--autospace4 > * {
  box-sizing: border-box;
  float: left;
  padding-left: 2rem;
  width: 25%;
}

.fpo--autospace5 {
  margin-left: -2rem;
  overflow: hidden;
}

.fpo--autospace5 > * {
  box-sizing: border-box;
  float: left;
  padding-left: 2rem;
  width: 20%;
}

.fpo--autospace6 {
  margin-left: -2rem;
  overflow: hidden;
}

.fpo--autospace6 > * {
  box-sizing: border-box;
  float: left;
  padding-left: 2rem;
  width: 16.6666666667%;
}

.fpo--autospace7 {
  margin-left: -2rem;
  overflow: hidden;
}

.fpo--autospace7 > * {
  box-sizing: border-box;
  float: left;
  padding-left: 2rem;
  width: 14.2857142857%;
}

.fpo--autospace8 {
  margin-left: -2rem;
  overflow: hidden;
}

.fpo--autospace8 > * {
  box-sizing: border-box;
  float: left;
  padding-left: 2rem;
  width: 12.5%;
}

.fpo--autospace9 {
  margin-left: -2rem;
  overflow: hidden;
}

.fpo--autospace9 > * {
  box-sizing: border-box;
  float: left;
  padding-left: 2rem;
  width: 11.1111111111%;
}

.fpo--autospace10 {
  margin-left: -2rem;
  overflow: hidden;
}

.fpo--autospace10 > * {
  box-sizing: border-box;
  float: left;
  padding-left: 2rem;
  width: 10%;
}

.fpo--autospace11 {
  margin-left: -2rem;
  overflow: hidden;
}

.fpo--autospace11 > * {
  box-sizing: border-box;
  float: left;
  padding-left: 2rem;
  width: 9.0909090909%;
}

.fpo--autospace12 {
  margin-left: -2rem;
  overflow: hidden;
}

.fpo--autospace12 > * {
  box-sizing: border-box;
  float: left;
  padding-left: 2rem;
  width: 8.3333333333%;
}

figure,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
